/*Div 1*/
#main-container-1 {
    color: #FF6666;
}
#button {
    background-color: #FF6666;
    border-color: #FF6666;
}
#input {
    border-color: #FCAEAE;
    color: #FCAEAE;
}
/*Div 2*/
#main-container-2 {
    display: none;
    color: #FF6666;
}
#go-back {
    background-color: #FF6666;
    border-color: #FF6666;
}
